QPushButton#authorizationButton
{
    qproperty-icon: url(:/img/whiteMenuIcon/outLog.png);
    border-radius: 6px;
    background-color: rgb(56, 60, 63);
    color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
}

QPushButton#authorizationButton:hover
{
    background-color: rgb(66, 70, 73);
}
