QPushButton
{
    border-radius:  6px;background-color:  rgb(172, 72, 70);
    color:  rgb(255, 255, 255);
}

QPushButton:hover
{
    background-color: rgb(152, 52, 50);
    color:  rgb(255, 255, 255);
}
