QPushButton
{
    border-radius: 6px;background-color:  rgb(212, 112, 110);
    color:  rgb(61, 60, 59);
} 

QPushButton:hover
{
    background-color: rgb(232, 132, 130);
    color: rgb(61, 60, 59);
}