QPushButton { border-radius:  6px; background-color: 
                              rgb(41,45,48); color: rgb(255, 255, 255); } 
                              QPushButton:hover { background-color:  rgb(98, 98, 98); }